
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');



body{
  font-family: 'Poppins', sans-serif;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.container{
  width: 40%;
  height: auto;
  margin: 5% 0;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  padding: 0 0.5rem;
  border-radius: 9px;
  
   display: flex;
  flex-direction: column;
  justify-content: center;
} 
header{
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
} 
header .title{
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 0.4rem;
  text-transform: uppercase;
}
header .score{
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 0.4rem;
  text-transform: uppercase;
}
.tools{
  margin: auto;
  width: 400px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-template-rows: repeat(3,1fr);
  justify-items: center;
  padding: 0;
}
.rock{
	grid-column:1/2;
}
.paper{
	grid-column:3/4;
	
}
.scissor{
	grid-column:2/3;
	
}
.lizard{
	grid-column:1/2;
	
}
.spock{
	grid-column:3/4;
	
}

.tools button {
  background-color:#0D324D;
  color: #ffff;
  border: none;
  font-size: 4rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.coments{
  margin-bottom: 2rem ;
}
.coments p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0.4rem;
}

.result{
  font-size: 1.5rem;
  padding: 1rem;
  /* background-color: ; */
  width: 9rem;
  border-radius: 8px;
  text-align: center;
}
.result-div{
  display: flex;
  justify-content: center;
}
span{
  font-weight: 700;
}
@media(max-width:850px){
  .container{
    width: 80%;
  }
  header{
    margin-bottom: 2rem;
  }
}
@media(max-width:550px){
  .container{
    width: 100%;
    height: 85%;
  }
  header{
    margin-bottom: 8rem;
  }
}
@media(max-width:470px){
  .container{
    width:90%;
    height: auto;
    padding: 0.5rem; 
  }
  .coments p{
    font-size: 1.4rem;
  }
  header{
    margin-bottom: 1rem;
  }
  .tools button {
    font-size: 3.5rem;
    height: 6rem;
    width: 6rem;
   
  }
  .tools{
    width: 300px; ;
  }
}
@media(max-width:370px){
  .container{
    width:100%;
    height: screen;
    padding: 0.5rem; 
  }
  .coments p{
    font-size: 1rem;
  }
  header{
   margin: 0 0 0.5rem 0;
  }
  .tools{
    width: 300px; ;
  }
  .tools button {
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
   
  }
}







